/* Colors */
$slightPink: #FF5A65;
$slightBlue: #00B7FF;
$deeperBlue: #0075A3;

/* contstants */
$streamWidth: 550px;

body {
	input:focus {
		outline: none;
	}

	a {
		color: $deeperBlue;
	}

	a:visited {
		color: $deeperBlue;
	}

	/* font*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: grey;
}

/* Stream */
.stream {
	width: $streamWidth;
	margin: auto;
}

/* Cards */

.card {
	padding: 10PX;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 50px 0px;
	position: relative;
	
	.badges {
		position: absolute;
		left: 0px;
		top: -20px;

		img {
			width: 16px;
		}
	}

	.infoBlock {
		word-wrap: break-word;
	}
}

.embelish.card.row {
	/* TODO fix row style flex, image should always be native width and text will fill */
	display: flex;	

	.media {
		margin-right: 20px;

		img {
			max-width: 100%;
		}
	}
}

.embelish.card.column {
	.media {
		img {
			max-width: $streamWidth - 20;
			display: block;
			margin: 0 auto;
		}
	}
	
	.embedly-embed {
		/* 16:9 aspect ratio */;
		max-width: 530px;
		max-height: 298px;
	}
	a {
		display: block;
	}

	.infoBlock {
		padding: 10px;
		
		.title {
			text-decoration: none;
			font-size: 1.15em;
			margin-bottom: 5px;
		}
	}
}

/* Login */
.loginOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.loginBody {
	position: relative;

	/* prevent body click highlighting on login */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.loginFooter {
	margin: 10px 20px;
	display: flex;
	justify-content: space-between;

	#confirmLogin,
	#registerFlag {
		cursor: pointer;
	}

	#registerFlag.off {
		color: lightGrey;
	}
}

.prismContainer {
	width:	500px;

	.prism {
		height: 2em;
	}

	[data-num="0"] {
		background: #2FFF62;
	}
	[data-num="1"] {
		background: #60CFFF;
	}
	[data-num="2"] {
		background: #E8CB58;	
	}
	[data-num="3"] {
		background: #FF896D;	
	}
	[data-num="4"] {
		background: #AD58E8;	
	}
	[data-num="5"] {
		background: #E33258;	
	}
}

.loginContainer {
	background: white;

	/** center container within the prismatic background **/
	position: absolute;	
	width: 480px;
	height: 170px;
	margin: 10px;
	top: 0px;

	/** evenly spread contents **/
	display: flex;
	flex-direction: column;
	& > .loginEntry {
		flex: 1;
	}
}

.loginEntry {
	margin: 10px 25px;
	display: flex;
	align-items: center;

	input {
		border: none; border-bottom: lightgrey solid 1px;
		color: grey;
		width: 100%;
	}
}
