/* Solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

/* main */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

a:visited {
    color: #0075A3;
}

/* stream */
.stream {
    width: 500px;
    margin: auto;
}

.mascot {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 170px;
    left: 165px;
    padding: 5px 10px;
    color: white;
    background:  #FF5A65;
    border-radius: 5px;
    visibility: hidden;
}

.user {
    position: absolute;
    padding: 5px 10px;
    top: 20px;  
    right: 20px;
    background: #FF5A65;
    color: white;
}
.user.signout {
    color: white;
    background: #60CFFF;
}

.feedback {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    background: #47D147;    
    color: white;
}
.feedback:visited {
    color: white;
}

.card {
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
}

.time {
    position: absolute;
    left: -120px;
    color: lightgrey;
    font-size: 11px;
}

.article {
    font-size: 18px;
}

.match {
    margin-top: 5px;
    color: white;
    width: 70px;
    padding: 5px;
    text-align: center;
    background: #FF5A65;
    border: solid 1 #FF5A65;
}

.finder {
    background: white;
    color: #FF5A65;
}

.chat {
    margin-top: 5px;
    padding: 5px;
    border: solid 1 #FF5A65;
    width: auto; 
    color: #268bd2;
    min-height: 1em;
    background: #073642;
}

.reply {
    width: 100%;
}

.reply.self {
    text-align: right;
}

.reply.other {
    text-align: left;
}

input {
    background: #073642;
    color: lightgrey;
    width: 100%;
    border: none;
}

input:focus {
    outline: 0;
}