/* Colors */
$slightPink: #FF5A65;


body {
	input:focus {
		outline: none;
	}

	/* font*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: grey;
}

/* Stream */
.stream {
	width: 550px;
	margin: auto;
}

.card {
	padding: 10PX;
}

/* Login */
.loginOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.loginBody {
	position: relative;

	/* prevent body click highlighting on login */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.loginFooter {
	margin: 10px 20px;
	display: flex;
	justify-content: space-between;

	#confirmLogin,
	#registerFlag {
		cursor: pointer;
	}

	#registerFlag.off {
		color: lightGrey;
	}
}

.prismContainer {
	width:	500px;

	.prism {
		height: 2em;
	}

	[data-num="0"] {
		background: #2FFF62;
	}
	[data-num="1"] {
		background: #60CFFF;
	}
	[data-num="2"] {
		background: #E8CB58;	
	}
	[data-num="3"] {
		background: #FF896D;	
	}
	[data-num="4"] {
		background: #AD58E8;	
	}
	[data-num="5"] {
		background: #E33258;	
	}
}

.loginContainer {
	background: white;

	/** center container within the prismatic background **/
	position: absolute;	
	width: 480px;
	height: 170px;
	margin: 10px;
	top: 0px;

	/** evenly spread contents **/
	display: flex;
	flex-direction: column;
	& > .loginEntry {
		flex: 1;
	}
}

.loginEntry {
	margin: 10px 25px;
	display: flex;
	align-items: center;

	input {
		border: none; border-bottom: lightgrey solid 1px;
		color: grey;
		width: 100%;
	}
}
