/* Colors */
$slightPink: #FF5A65;
$slightBlue: #00B7FF;
$deeperBlue: #0075A3;
$sexyGrey: #2b2b2b;

/* contstants */
$streamWidth: 550px;

body {
	input:focus {
		outline: none;
	}

	a {
		color: $deeperBlue;
	}

	a:visited {
		color: $deeperBlue;
	}

	div:empty {
		display: none;
	}

	margin: 0px;

	/* font*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: grey;
}

.banner,
.pagination {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

/* Banner */
.banner {
	/* put banner on top as fixture */
	position: fixed;
	top: 0px;
	z-index: 2;

	/* look and feel */
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	background: #2b2b2b;

	.logo {
		cursor: pointer;
		font-weight: bold;
		font-size: 28px;
		color: $slightPink;
	}
}

/* Pagination */

.pagination {
	text-align: center;
	margin: 20px auto;
	background: $sexyGrey;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: relative;

	.button {
		cursor: pointer;
		font-weight: bold;
		font-size: 28px;
		color: $slightPink;

		/* center */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* Stream */
.stream {
	width: $streamWidth;
	margin: 95px auto;
}

/* Sleeve */

.sleeve {
	position: relative;
}

.chatContent {
	position: absolute;
	top: 0px;
	left: 550px;
	margin-left: 30px;
}

.chatBox {
	.chatList {
		max-height: 300px;
		overflow-y: auto;
	}
}

.match {
	padding: 15px 30px;
	background: $slightPink;
	color: white;
	cursor: pointer;
}

/* Cards */

.card {
	padding: 10PX;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 50px 0px;
	position: relative;

	.badges {
		img {
			width: 16px;
		}
	}

	.infoBlock {
		word-wrap: break-word;

		.titleContainer {
				margin-bottom : 5px;
		}

		.content {
			display: flex;
			align-items: flex-start;

			.favicon img {
				padding-top: 2px;
			}

			.title {
				text-decoration: none;
				padding-left: 10px;
			}
		}
	}
}

.embelish.card.row {
	/* TODO fix row style flex, image should always be native width and text will fill */
	display: flex;

	.media {
		margin-right: 20px;

		img {
			max-width: 100%;
		}
	}
}

.embelish.card.column {
	.media {
		img {
			max-width: $streamWidth - 20;
			display: block;
			margin: 0 auto;
		}
	}

	.embedly-embed {
		/* 16:9 aspect ratio */;
		max-width: 530px;
		max-height: 298px;
	}
	a {
		display: block;
	}

	.infoBlock {
		.titleContainer {
			padding: 0px 10px;
			padding-top: 10px;

			.title {
				font-size: 1.15em;
			}
		}


		.description {
			padding: 0px 10px;
			padding-bottom: 10px;
		}
	}
}

/* Login */
.loginOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginBody {
	width: 550px;
	padding: 10px;

	/* prevent body click highlighting on login */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.loginFooter {
	margin: 10px 25px;
	display: flex;
	justify-content: space-between;

	#confirmLogin,
	#registerFlag {
		cursor: pointer;
	}

	#registerFlag.off {
		color: lightGrey;
	}
}

.prismContainer {
	width:	500px;

	.prism {
		height: 20px;
	}

	[data-num="0"] {
		background: #2FFF62;
	}
	[data-num="1"] {
		background: #60CFFF;
	}
	[data-num="2"] {
		background: #E8CB58;
	}
	[data-num="3"] {
		background: #FF896D;
	}
	[data-num="4"] {
		background: #AD58E8;
	}
	[data-num="5"] {
		background: #E33258;
	}
}

.loginContainer {
	background: white;

	/** evenly spread contents **/
	display: flex;
	flex-direction: column;
	& > .loginEntry {
		flex: 1;
	}
}

.loginEntry {
	margin: 10px 25px;
	display: flex;
	align-items: center;

	input {
		border: none; border-bottom: lightgrey solid 1px;
		color: grey;
		width: 100%;
	}
}
